[Unit]
Description=Riemann monitors distributed systems.
ConditionPathExists=/usr/bin/riemann/etc/riemann.config
Documentation=http://riemann.io/api/riemann.streams.html

[Service]
Type=simple
User=riemann
WorkingDirectory=/usr/bin/riemann
NotifyAccess=main
ExecStart=/usr/bin/riemann/bin/riemann /etc/riemann/riemann.config
Restart=always
RestartSec=60